.title{
	font-family: sans-serif;
	font-size: 54px;
	color: darkorange;
}

.container{
	position: relative;
	/*relative to its normal position  */
	width: 200px;
	height: 200px;
	display: inline-block;
}

.image{
	display: block;
	width: 200px;
	height: 200px;
}

/*what "covers" the image*/
.overlay{
	/*positioned relative to the nearest positioned ancestor*/
	position: absolute;
	transition: all 0.3s ease;
	opacity: 0;
	background-color: purple;
}

.container:hover .overlay{
	opacity: 1;
}

/*OVERLAY FADE*/

.overlayFade{
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	/*right click on element >> inspect >> click on backgorund-color >> change opacity*/
	/*background-color: #9c27b075;*/
	background-color: purple;
}

/*LEFT OVERLAY*/

.overlayLeft{
	height: 100%;
	width: 0;
	top: 0;
	left: 0;
	background-color: purple;
}

/*RIGHT OVERLAY*/

.overlayRight{
	height: 100%;
	width: 0;
	top: 0;
	right: 0;
	background-color: purple;
}

/*HOVER EFFECT*/

.container:hover .overlayLeft, .container:hover .overlayRight{
	width: 100%;
}

/*OVERLAY TOP*/

.overlayTop{
	height: 0;
	width: 100%;
	top: 0;
	right: 0;
	background-color: purple;
}

/*OVERLAY BOTTOM*/

.overlayBottom{
	height: 0;
	width: 100%;
	bottom: 0;
	right: 0;
	background-color: purple;
}

/*HOVER EFFECT*/

.container:hover .overlayTop, .container:hover .overlayBottom{
	height: 100%;
}

/*OVERLAY CROSS*/

.overlayCross{
	height: 0;
	width: 0;
	top: 0;
	left: 0;
	background-color: purple;
}

/*HOVER EFFECT*/

.container:hover .overlayCross{
	width: 100%;
	height: 100%;
}

/*text that shows up when you hover over image*/
.text{
	color: white;
	font-family: sans-serif;
	/*positioned relative to the nearest positioned ancestor*/
	position: absolute;
	/*we need the text to be center-aligned*/
	top: 50%;
	left: 50%;
	/*property to move text in the negative direction of x and y*/
	transform: translate(-50%, -50%);
	font-size: 20px;
}
